.contact-us
    .contact-us_inner.l-wrapper
        .contact-us_title Contact Us
        .contact-us_text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. 