form.contact-form(action="post")
    b.contact-form_title SEND US MESSAGE

    .contact-form_tf
        label.contact-form_label Full Name
        input(type="text" placeholder="Your Name").input

    .contact-form_tf
        label.contact-form_label Email
        input(type="text" placeholder="Your Email").input
    
    .contact-form_tf
        label.contact-form_label Message
        textarea(rows="6" placeholder="Your Message").textarea
    
    button(type="submit").btn.__big Submit