form.contact-form(action="post")
    b.contact_title

    .form_tf
        label Full Name
        input(type="text" placeholder="Your Name")

    .form_tf
        label Email
        input(type="text" placeholder="Your Email")
    
    .form_tf
        label Message
        input(type="text" placeholder="Your Message")
    
    button(type="submit").btn.__big Submit