.l-wrapper
    .contacts
        .contacts_col
            .contacts_group
                .contacts_group-title ADDRESS
                p.
                    Id convallis placerat sit sed duis id 
                    amet volutpat quam a, pharetra.
            .contacts_group
                .contacts_group-title PHONE
                ul.contacts_list
                    li.contacts_list-item
                        a(href="#").contacts_link <i class="material-icons">phone</i> +62-812-7313-4321
                    li.contacts_list-item
                        a(href="#").contacts_link <i class="material-icons">phone</i> +62-817-000-1234
            .contacts_group
                .contacts_group-title ONLINE SERVICE
                ul.contacts_list
                    li.contacts_list-item
                        a(href="#").contacts_link <i class="material-icons">language</i> www.afrianska.com
                    li.contacts_list-item
                        a(href="#").contacts_link <i class="material-icons">email</i> hello.afrian@gmail.com
        .contacts_col
            .contacts_form
                include contact-form