header.site-header.__full
    nav.site-header_nav.l-wrapper
        a(href="#").site-header_logo
            img(src="img/site-logo.svg", alt="site logo")
        a(href="#").site-header_menu
            i.material-icons menu
        
    .site-header_content.l-wrapper
        b.site-header_content-title.
            New Automation
            Tool for Your Home
        p.site-header_content-text.
            Lorem ipsum dolor sit amet, consectetur adipiscing 
            elit. Faucibus tristique vulputate ultrices ut mauris 
            tellus at. Posuere sollicitudin odio tellus elit.
        a(href="#").btn See Our Project