include ../mixins/card-what-we-do

.l-wrapper
    .what-we-do
        .what-we-do_title.
            What we do to help
            our client grow in
            digital era,

        .what-we-do_cols
            .what-we-do_col
                +card-what-we-do(
                    'Make Your business To Be Better Famous In Internet',
                    'img/card1.png'
                )
                    p.
                        Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do 
                        eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua.
            .what-we-do_col
                +card-what-we-do(
                    'Bring Technology To Your Comfrotable Home',
                    'img/card2.png'
                )
                    p.
                        Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do 
                        eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua.
                +card-what-we-do(
                    'Build Your Digital Product That Suitable For Your Need',
                    'img/card3.png'
                )
                    p.
                        Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do 
                        eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua.